<% if current_user %>
<%= link_to "New post", new_post_path %>
<% else %>
<p style="color: green"><%= notice %></p>

<h1><u><i>Models</i></u></h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
    _________________________
  <% end %>
</div>
<% end %>